<div class="m-1">
  <h2>Editar Cupom</h2>
  <hr />
  <form action="/cupons/edit" method="POST">
  <input name="id" type="hidden" value="{{cupom._id}}" />
    <div class="form-group">
      <label for="code">Código*</label>
      <input type="text"
      name="code"
      id="code"
      class="form-control"
      value="{{cupom.code}}"
      required />
    </div>

    <div class="form-group">
      <label for="discount">Desconto*</label>
      <input
        type="number"
        name="discount"
        id="discount"
        class="form-control"
        value="{{cupom.discount}}"
        required
      />
    </div>

    <div class="form-group">
      <label for="cashback">Cashback*</label>
      <input
        type="number"
        name="cashback"
        id="cashback"
        class="form-control"
        value="{{cupom.cashback}}"
        required
      />
    </div>

    <div class="form-group">
      <label for="validity">Validade*</label>
      <input
        type="date"
        name="validity"
        id="validity"
        class="form-control"
        value="{{cupom.validity}}"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Descrição*</label>
      <textarea
        name="description"
        id="description"
        rows="4"
        class="form-control"
        value=""
      >{{cupom.description}}</textarea>
    </div>

    <button class="btn btn-primary mt-2">Editar</button>
  </form>
</div>